.msg-area {
  min-height: 80px;
  box-sizing: border-box;
  border-top: 1px solid rgba(23, 25, 50, 0.2);
  padding: 30px 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.msg-area__input {
  width: 60%;
  height: 100%;
  border: 0;
  outline: 0;
}

.msg-area__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  color: rgba(23, 25, 50, 0.5);
}
