.main {
  background-color: white;
  color: black;
  display: flex;
  flex-flow: column nowrap;
}

.main__header {
  min-height: 60px;
  border-bottom: 1px solid rgba(23, 25, 50, 0.2);
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  padding-right: 30px;
}
