@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/page/__heading/page__heading.css);

@import url(../blocks/heading/heading.css);
